@import url('../../node_modules/leaflet/dist/leaflet.css');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Gelasio', serif;
}

html, body {
    height: 100%;
}

html{
    font-size: 18px;
}

body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    text-align: left;
    padding: 24px;
    background-color: #fedbd6;
}


h1 {
    font-size: 3rem;
    font-family: "Croissant One", serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 1rem;
}

h2, h2 span {
    font-size: 3rem;
    font-family: "Croissant One", serif;
    padding: 1rem 1rem;
    color: #4d3812;
}

header a {
    color: #981013;
}

header div{
    display: inline-block;
}

/* Listas */

ul {
    list-style-type: none;
    text-align: center;
}


nav ul {
    font-size: 24px;
}

ul li {
    display: inline-block;
    padding-right: 1rem;
    padding: 0 1rem;
}

ul li:last-child{
    padding-right: 0;
}

nav ul li a{
    color: #981013;
    border: none;
    transition: color 1s ease;
}


nav ul li a:hover{
    border: none;
    color: #cb6666;
    transition-duration: 0.3s;
}

nav li.selected a{
    border-bottom: 2px solid #981013;
}



/* link */
a {
    text-decoration: none;
}

/* Main */
main{
    padding: 2rem;
    color: #4d3812;
    flex: 1;
    text-align: center
}

h3, h3 a {
    font-size: 2rem;
    font-family: "Croissant One", serif;
}

.contenedor {
    display: flex;
    align-items: stretch;
    gap: 1 rem;
    flex-wrap: wrap;
}
.slogan {
    padding: 1rem;
    border: 1px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:#fff;
    flex: 1;
    min-width: 300px;
    width: 30%;
    margin: 0.5rem;
}

.video {
    position: relative;
    padding: 1 rem;
    overflow: hidden;
}

.video iframe {
    top: 0;
    left: 0;
    width: 60%;
}


.slogan h3 {
    font-size: 1.5rem;
    display: block; margin: 0 auto;
}

.slogan p {
    display: block; margin: 0 auto;
}

main a {
    color: #4d3812;
}

.slogan img {
    object-fit: contain;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.lugar {
    height: auto;
    width: 30%;
    min-width: 300px;
}

.ubicacion {
    height: 50%;
    width: 50%;
    min-width: 300px;
    min-height: 300px;
    display: block; margin: 0 auto;
}

.salto {
    padding-bottom: 32px;
}


.slogan div{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: center;
}

.links ul li {
    display: block;
}

/* Footer */
footer {
    padding: 32px 24px;
    text-align: center;
    background-color: #a80000;
}

footer .legal {
    padding-bottom: 32px;
    font-size: 1rem;
    color: #ffffff;
}

footer p, a {
    color: #ffffff;
}

footer ul {
    font-size: 1.5rem;
}

.animacio {
    width: 100px;
    height: 100px;
    position: relative;
    animation: caida 5s infinite;
    background-image: url("../assets/images/leaves.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block; margin: 0 auto;
}

@keyframes caida {
    from {left: -30vw;}
    to {left: 30vw;}
}

.clip {
    clip-path: polygon(0% 0%, 33% 0%, 33% 25%, 66% 25%, 66% 0%, 100% 0%, 100% 25%, 66% 25%, 66% 50%, 100% 50%, 100% 75%, 66% 75%, 66% 100%, 33% 100%, 33% 75%, 0% 75%, 0% 50%, 33% 50%,33% 75%, 66% 75%,66% 50%, 33% 50%, 33% 25%, 0% 25%);
}

@media (max-width: 600px){

    html{
        font-size: 13px;
    }

    h2, h2 span{
        font-size: 2rem;
    }

    body{
        min-width: 300px;
    }

    header div {
        display: block;
    }

    .salto {
    padding-bottom: 24px;
}

    header{
        text-align: center;
    }

    ul li {
        display: block;
        padding: 0;
    }


}
